#wrapper {
	width: 			100%;
	text-align: center;
}

h1 {
  margin: 1em;
}

.smiley {
  margin: 			 		5em auto;
	position: 		 		relative;
	height: 			 		40em;
	width: 				 		40em;
	border-radius: 		50%;
	background-color: yellow;
}

.eyes {
	position:	relative;
	top: 		 	10em;
}

.eye {
	height: 				  2.5em;
	width: 					  5em;
	background-color: #000;
	border-radius: 		50%;
	position: 				relative;
	display: 					inline-block;
	margin:           0 2em;
}

.mouth {
	width: 						20em;
	background-color:	#000;
	position: 				relative;
	margin: 					18em auto 0 auto;
}

.frown {
  -webkit-transition: border-radius 1s, height 1s;
  transition: 				border-radius 1s, height 1s;

	border-radius: 			20em 20em 0 0;
	height:             10em;
}

.smile {
  -webkit-transition: border-radius 1s, height 1s;
  transition: 				border-radius 1s, height 1s;

	border-radius: 			0 0 20em 20em;
	height:             10em;
}

.neutral {
	border-radius:    	50%;
	height: 						5em;

  -webkit-transition: border-radius 1s, height 1s;
  transition: 				border-radius 1s, height 1s;
}
